main{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
h2, h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

form{
    display: flex;
    justify-content: space-between;
}
form > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}
.button{
    text-transform: uppercase;
    padding: 13px 30px;
    border: none;
}
.status{
    text-transform: uppercase;
    padding: 7px 10px;
}
#info_order{
    display: flex;
    justify-content: space-between;
}

table{
    width: 100%;
    border-collapse:collapse;
}

thead td:nth-child(1) {
  width: 20%;
}
thead td:nth-child(2) {
  width: 45%;
}
thead td:nth-child(3) {
  width: 15%;
}
thead td:nth-child(4) {
  width: 10%;
}


table tbody tr:nth-child(odd){
    background-color: #1C1C1C;
    border-bottom: 1px solid #0a0a0a;
    border-top: 1px solid #0a0a0a;

thead > tr > td{
    padding-bottom: 20px;
    height: 30px;
}