main{
    width: 50%;
    margin: 0 auto;
}
h2 {
    text-align: center;
}
h3{
    text-align: center;
}

.main{
    display: flex;
    justify-content: space-around;
}

.main > h2{
    width: 100%;
}
.main > div{
    margin-bottom: 10px;
}
.content{
    padding: 20px;
    background-color: #0a0a0a;
    text-align: center;
    padding-bottom: 10px;
}
.content > p{
    margin-top: 8px;
    height: 11px;
}
