{% extends 'base.html' %}
{% load static %}

{% block title %}
Замовлення
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'order_management/css/orders.css' %}">
{% endblock %}

{% include 'inc/_menu.html '%}
{% block content %}
<main>
    <h2>Замовлення</h2>
    <table>
        <thead>
        <tr>
            <td>Замовлення</td>
            <td>Дата</td>
            <td>Статус</td>
            <td>Сума</td>
            <td>Накладна</td>
        </tr>
        </thead>
        <tbody>
        {% for order_info in page_obj %}
        <tr>
            <td><a href="#">{{order_info.pk}}</a></td>
            <td><a href="#">{{ order_info.date|date:"j E, o"}}</a></td>
            {% if order_info.status == 1 %}
                <td><a href="#" class="processing status">Обробка</a></td>
            {% elif order_info.status == 2 %}
                <td><a href="#" class="success status">Виконаний</a></td>
            {% else %}
                <td><a href="#" class="error status">Помилка</a></td>
            {% endif %}
            <td><a href="#">{{order_info.price}} грн.</a></td>
            <td><a href="#">{{order_info.ttn}}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul>
            {% if page_obj.has_previous %}
            <li><a href="?page={{page_obj.previous_page_number}}">«Попередня</a></li>
            {% endif %}

            {% for p in page_obj.paginator.page_range %}

            <li>
                {% if p == page_obj.number %}
                <a id="active">{{ p }}</a>
                {% else%}
                <a href="?page={{p}}">{{p}}</a>
                {% endif %}
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?page={{page_obj.next_page_number}}">Наступна»</a></li>
            {% endif %}
        </ul>
    </nav>
</main>

{% endblock %}
