{% extends 'base_storage.html' %}
{% load static %}

{% block title %}
Склад Дімона і Владос
{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'order_management/css/add_order.css' %}">
{% endblock %}


{% block form_dima %}
<form action="dima/{{pack.pk}}/" method="post">
    {% csrf_token %}
    {{ forms.dima.as_p }}

    <input type="submit" value="Додати в замовлення">
</form>
{% endblock %}

{% block form_vlad %}
<form action="" method="post">
    {% csrf_token %}
    {{ forms.vlad.as_p }}

    <input type="submit" value="Додати в замовлення">
</form>
{% endblock %}
