{% extends 'base.html' %}
{% load static %}
{% block title %}
Склад Дімона і Владоса
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'storage/css/storage_dima_vlad.css' %}">
{% endblock %}

{% block content %}
<h1>Склад Дімона і Владоса</h1>
<div id="main_div">
    <div>
        {% for pack in storage_dima %}
        <div>
            <img src="{{ pack.stickers_main.photo.url }}" alt="" width="350px">
            <p>{{pack.stickers_main.title}}</p>
            <p>В паці: {{pack.stickers_main.quantity_in_pack}} шт</p>
            <p>На складі: {{pack.quantity}} шт</p>
            <p></p>
        </div>
        {% endfor %}
    </div>
    <div></div>
</div>
{% endblock %}
