{% extends 'base.html' %}
{% load static %}
{% block title %}
Склад Дімона і Владоса
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'storage/css/storage_dima_vlad.css' %}">
{% endblock %}

{% block content %}
<h2>Склад Дімона і Владоса</h2>
<main>
    {% for el in storages %}
        <div>
            <h3>{{el.owner_storage}}</h3>
            {% for pack in el.storage %}
            <div id="content">
                <img src="{{ pack.stickers_main.photo.url }}" alt="" width="250px">
                <p>{{pack.stickers_main.title}}</p>
                <p>В паці: {{pack.stickers_main.quantity_in_pack}} шт</p>
                <p>На складі: {{pack.quantity}} шт</p>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</main>

{% endblock %}
