{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/base_storage.css' %}">
{% endblock %}

{% block content %}

<main>
    <h2>Склад Дімона і Владоса</h2>
    <div class="main">
        <h2 style="text-align: center;">Склад Дімона</h2>
        <h2>Склад Владоса</h2>
    </div>
    {% for pack in storages %}
    <div class="main">

        <div class="content">
            <img src="{{ pack.stickers_main.photo.url }}" alt="" width="250px">
            <p>{{pack.stickers_main.title}}</p>
            <p>В паці: {{pack.stickers_main.quantity_in_pack}} шт</p>
            <p>На складі: {{pack.quantity_dima}} шт</p>
            {% block button_dima %}{% endblock %}
        </div>



        <div class="content">
            <img src="{{ pack.stickers_main.photo.url }}" alt="" width="250px">
            <p>{{pack.stickers_main.title}}</p>
            <p>В паці: {{pack.stickers_main.quantity_in_pack}} шт</p>
            <p>На складі: {{pack.quantity_vlad}} шт</p>
            {% block button_vlad %}{% endblock %}
        </div>


    </div>
    {% endfor %}
</main>

{% endblock %}
