{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/base_storage.css' %}">
{% endblock %}

{% block content %}
<h2>Склад Дімона і Владоса</h2>
<main>
    {% for pack in storages %}
        <div>
            <h3>Склад Дімона</h3>
            <div class="content">
                <img src="{{ pack.stickers_main.photo.url }}" alt="" width="250px">
                <p>{{pack.stickers_main.title}}</p>
                <p>В паці: {{pack.stickers_main.quantity_in_pack}} шт</p>
                <p>На складі: {{pack.quantity_dima}} шт</p>
                {% block button_dima %}{% endblock %}
            </div>
        </div>

        <div>
            <h3>Склад Владоса</h3>
            <div class="content">
                <img src="{{ pack.stickers_main.photo.url }}" alt="" width="250px">
                <p>{{pack.stickers_main.title}}</p>
                <p>В паці: {{pack.stickers_main.quantity_in_pack}} шт</p>
                <p>На складі: {{pack.quantity_vlad}} шт</p>
                {% block button_vlad %}{% endblock %}
            </div>
        </div>
    {% endfor %}
</main>

{% endblock %}
