#menu > ul > li:nth-child(4) > a{
    color: #FFC0CB;
}

main{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
}
table{
    width: 100%;
    border-collapse:collapse;
}
.main_title{
    text-align: center;
    margin-bottom: 50px;
}

table tbody tr:nth-child(odd){
    background-color: #1C1C1C;
    border-bottom: 1px solid #0a0a0a;
    border-top: 1px solid #0a0a0a;
}
thead tr{
    padding-bottom: 20px;
    height: 30px;
}
.product_remove{
    width: 60px;
}

.product_remove a{
    width: 50px;
    text-align: center;
    font-size: 20px;
    color: red;
    padding: 5px;
}

.tr_bottom td{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
input{
    padding: 11px 8px;
    width: 50px;
}
.tr_bottom input{
    box-sizing: border-box;
    border: 1px solid #d3ced2;
    vertical-align: middle;
    overflow: visible;
}
.tr_bottom div{
    display: flex;
    justify-content: center;
}
.tr_bottom p{
    padding-right: 10px;
}
#product_ttn input{
    width: 300px;
}

#product_price input{
    width: 80px;
}
.button{
    text-transform: uppercase;
    padding: 13px 30px;
    border: none;
}
.add_order{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.add_order > button{
    background-color: #FFC0CB;
    padding: 15px 35px;
    font-weight: bold;
}